<%- include ('../partials/boilerplate') %>

  <div class="items">
    <% for (let item of data.items) { %>
      <div class="item">
        <h4><%= item.name %></h4>  
        <img src="<%= item.img_url %> ">
        <form method="POST" action="/items/<%= item.id %>?_method=DELETE">
            <input type="submit" value="Delete">
          </form>
      </div>
    <% } %>
  </div>

<%- include ('../partials/end') %>