<%- include ('../partials/boilerplate') %>

  <% if (!isAuthenticated) { %>
    <div>
      <a href="/auth/login">Login</a> 
      <a href="/user/new">Register</a>
    </div>             
  <% } %>
  <%- include ('../partials/user_nav') %>
  <div class="items">
    <legend>Choose the items you wish to add to your cart </legend>
    <form class="items" method="POST" action="/cart/add">      
      <% for (let item of data.items) { %>
        <div class="item">
          <input type="checkbox" name="cartItem" value="<%= item.id %>" />
          <div class="item-details"> <label><%= item.name %> </label> </div>          
          <div class="item-details"> <img src="<%= item.img_url %> "> </div>        
          <div class="item-details"> <a href="/items/<%= item.id%>">Show details</a> </div>        
        </div>
      <% } %>
      <div id="btn-addToCart">
        <input type="submit" value="Add to cart!"/>
      </div>
  </form>
  </div>

<%- include ('../partials/end') %>