<%- include ('../partials/boilerplate') %>

  <% if (!isAuthenticated) { %>
    <div>
      <a href="/auth/login">Login</a> 
      <a href="/users/new">Register</a>
    </div>             
  <% } %>

  <div class="items">
    <% for (let item of data.items) { %>
      <div class="item">
        <h4><%= item.name %></h4>  
        <img src="<%= item.img_url %> ">
        <% if (isAuthenticated) { %>
          <form method="POST" action="/items/<%= item.id %>?_method=DELETE">
            <input type="submit" value="Delete">
          </form>                   
        <% } %>
        <a href="/items/<%= item.id%>">Show details</a>
      </div>
    <% } %>
  </div>

<%- include ('../partials/end') %>