<%- include ('../partials/boilerplate') %>
<%- include ('../partials/user_nav') %>
    <div class='item'>
        <h3><%= item.name %></h3>
        <img src="<%= item.img_url %>" />        
        <p><%= item.description %></p>        
        <p>Qty: <%= item.quantity %></p> 

        <form method="POST" action="/items/<%= item.id %>/edit?_method=GET">
            <input type="submit" value="Edit">
        </form>

        <a href='/items/'>Show all items</a>
    </div>

<%- include ('../partials/end') %>

<!-- to be added, styled later
item.is_selected;
item.category_id; -->